# Fichiers de bytecode Python
__pycache__/
*.pyc

# Fichiers de sauvegarde
*.bak
*.swp

# Environnement virtuel Python
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/
.venv.bak/

# Fichiers de log
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/config.py
.webassets-cache

# Fichiers de configuration d'éditeur
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.tmproj
*.iml
.idea_modules/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/encodings.xml

# Fichiers générés automatiquement
dist/
build/
*.egg-info/

# Exclusions supplémentaires
wpgarlic/