{% extends "layouts/main.jinja2" %}

{% block meta %}
    <meta name="description" content="Ajout d'utilisateurs">
    <title>Ajout d'utilisateur</title>
{% endblock %}

{% block content %}
        <h2>Ajout d'un utilisateur</h2>
        <form method="POST" action="/register" name="add_user">
            <table>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Courriel</th>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Mot de passe</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" name="username" id="username" maxlength="32" required></td>
                    <td><input type="email" name="email" id="email" maxlength="64"></td>
                    <td><input type="text" name="first_name" id="first_name" maxlength="32" required></td>
                    <td><input type="text" name="last_name" id="last_name" maxlength="32" required></td>
                    <td><input type="text" name="password" id="password" maxlength="32" required></td>
                    <td><input type="submit" value="Ajouter"></td>
                </tr>
            </table>
            {% if add_user_error != None  %}
                {% for error in add_user_error %}
                    <ul>
                    <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            {% endif %}
            <input type="hidden" name="form_type" value="add_user">
        </form>
{% endblock %}