{% extends "layouts/main.jinja2" %}

{% block meta %}

    <meta name="description" content="Page de connexion">
    <title>Connexion</title>

{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center; justify-content: center;
        height: 100vh;">
    <div class="box" style="width: 50%; height: 50%">
        <form method="POST" action="/login">
            <h1 class="title" style="text-align: center">Connexion</h1>
            <label for="username">Nom d'utilisateur</label>
            <br>
            <input class="input" type="text" id="username" name="username"  maxlength="32" required>
            <br>
            <label for="password">Mot de passe</label>
            <br>
            <input class="input" type="password" id="password" name="password" maxlength="32" required>
            <br>
            <div style="align-items: center">
                <input class="button is-primary" type="submit" value="Se Connecter">
            </div>
            {% if error != None %} {{ error }} {% endif %}
        </form>
    </div>
    </div>

{% endblock %}
